<launch>
    <node name="imu_transform_node" pkg="tf_imu_to_base" type="imu_transform_node" output="screen">
        <!-- Target frame parameter -->
        <param name="target_frame" value="base_link"/> <!-- Frame to transform IMU data into -->

        <!-- Topic remapping -->
        <remap from="input/imu/data" to="/imu/data"/> <!-- Input topic -->
        <remap from="output/imu/data" to="/imu/data_transformed"/> <!-- Output topic -->
    </node>
</launch>
